/* home.css */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;

    opacity: 1.0;
}

#home .cloudimg {
    position: absolute;
    bottom: 30%;
    right: 0%;
    width: 300px;
    z-index: 9;
    opacity: 0.4;
}

#home .con{
    z-index: 10;
}


.web-developer {
    font-size: 9em;
    color: #ffffff;
    font-weight:900;
    text-shadow: 4px 4px 8px #ADD3EE;
    z-index: 9;
}

#mainh1 {
    font-size: 3em;
    margin: 20px 0;
}


#home a {
    text-decoration: none;
    color: #2c6186;
    font-size: 15px;
}

#home a:hover {
    color: #234a65;
    border-radius: 30px;
    font-size: 20px;
}

#text_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 2rem;
}

.home_text{
    margin-top: 30px;
    color: #446c89;
    text-shadow: 4px 4px 8px #ADD3EE;
}

.blink {
    animation: blink 0.5s infinite;
    font-size: 1.5rem;
}
@keyframes blink {
    to {
      opacity: 0;
    }
}

.text_box{
    height: 30px;
}

#background-music {
    display: none;
}

#techCanvasdialog{
    display: none;
}

@media screen and (max-width: 600px) {
    #sign img {
        width: 100px;
        height: auto;
    }
    .web-developer {
        font-size: 3em;
    }
    .content_subject_page {
        width: 100%;
        margin: 0 auto;
    }
    #techCanvas{
        display: none;
    }
    #techCanvasdialog{
        display: block;
    }
}